h1{
	text-align: center;
}




/*navbar*/

.navbar-nav{
	
	margin-left: 65%;

	
}

.navbar{

	position: sticky;
	top: 0px;
	z-index: 1;
	border-top: 1px solid  #d4d3cd;
	padding-bottom: 0px;
	-webkit-box-shadow: -5px 7px 17px -6px rgba(0,0,0,0.95);
	-moz-box-shadow: -5px 7px 17px -6px rgba(0,0,0,0.95);
	box-shadow: -5px 7px 17px -6px rgba(0,0,0,0.95)

}
.nav-item{
	font-size: 1.2em;
	margin-left: 10%;
}
/*card*/

.card-img-top{
	display: block;
	height: 40vw;
	width: 40vw;
}

/*icon*/

.icon{
	display: flex;
	justify-content: flex-end;
	font-size: 5vw;

}

.card{
	margin-top: 5% !important;
	width: auto;
}

#i{
	margin-left: 0;
	color: brown;
	padding: 5px;
	border-radius: 5px;
}

#i:nth-child(1){
	padding-right: 10px;

}

#i:hover{
	background-color: brown;
	color: white;
}



header{
	display: flex;
	justify-content: center;
	padding-top: 0%;
	
}

header> img{
	height: 15vw;
	width: 20vw;
	margin-left: 3%;

}